.page{
	width: 100%;
	min-width: 1309px;
}
*{
	margin: 0;
	padding: 0;
}
header{/*header开始*/
	height: 62px;
}
.an11{
	width: 200px;
	height: 60px;
	position: relative;
	left: 200px;
	display: inline-block;
	background:url(image/icon1.png) no-repeat left;
	line-height: 55px;
	text-align: center;
}
.an11 h1{
	font-size: 24px;
	font-family: Microsoft YaHei ;
	
}
.ull{
    position: relative;
    left:1200px;
    bottom: 60px;
	width: 700px;
	height: 60px;

}
.ull li{
	float: left;
	list-style: none;
	padding-left: 50px;
	font-size: 18px;
	line-height: 60px;
	font-family: Microsoft YaHei;
	cursor: pointer;
	
}

.ull li:hover {
	color: #FD4B4B;
	}
.lione{
	border-bottom:2px;
	border-style: solid;
	border-color: #F81313;
	width: 40px;
	position: absolute;
	top: 57px;
	left: 20px;
	
    transition: all 0.5s ease-in-out;
}
.ull li:nth-child(1):hover~.lione{
	left:20px;
}
.ull li:nth-child(2):hover~.lione{
	left:125px;
}
.ull li:nth-child(3):hover~.lione{
	left:248px;
}
.ull li:nth-child(4):hover~.lione{
	left: 370px;
}
.ull li:nth-child(5):hover~.lione{
	left:490px;
}
.ull li:nth-child(6):hover~.lione{
	left: 610px;
}
/*header结束*/
.item1{/*section1开始*/
	width: 100%;
	height: 692px;
	background: url(image/pic1.jpg) no-repeat;
	background-size: 100%;

}
.text1{
	position: absolute;
	top: 229px;
	left: 120px;
	font: 80px 微软雅黑;
	color:  #FFFFFF;

}
.text2{
	position: absolute;
	top: 330px;
	left: 130px;
	font:35px 微软雅黑; 
	color: #FFFFFF;
	line-height: 50px;
}
.item1 span{
	position: absolute;
	top: 480px;
	left: 130px;
	font:30px 微软雅黑;
	color: #FFFFFF;
	line-height: 63px;
	text-align: center;
	width: 330px;
	height: 63px;
	background-color: #e74f4d;
	cursor: pointer;
}
.item1 span:hover{
	background-color: #F61412;
	transition: 1s;
}/*section2结束*/
.two{/*section3开始*/
	width: 100%;
	height: 260px;
}
.box1{
	width: 24%;
	height: 260px;
	display: inline-block;
}
.ime{
	height: 130px;
	text-align: center;
	line-height: 130px;
}
.ome{
	height: 52px;
	width: 100%;
	border-right: 2px #BFBDBD solid;
}
.box1 p{
	font-size: 16px;
	font-family: 黑体;
	text-align: center;
}
.box1 p:hover{
		color: #FC7070;
	transition: 1s;
}
.box2{
	width: 24%;
	height: 260px;
	display: inline-block;
	position: relative;
}
.im2{
	height: 130px;
	text-align: center;
	line-height: 130px;
}
.ome2{
	height: 52px;
	width: 100%;
	border-right: 2px #BFBDBD solid;
}
.box2 p{
	font-size: 16px;
	font-family: 黑体;
	text-align: center;
}
.box2 p:hover{
		color: #FC7070;
	transition: 1s;
}
.box3{
	width: 24%;
	height: 260px;
	display: inline-block;
}
.im3{
	height: 130px;
	text-align: center;
	line-height: 130px;
}
.ome3{
	height: 52px;
	width: 100%;
	border-right: 2px #BFBDBD solid;
}
.box3 p{
	font-size: 16px;
	font-family: 黑体;
	text-align: center;
}
.box3 p:hover{
	color: #FC7070;
	transition: 1s;
}
.box4{
	width: 24%;
	height: 260px;
	display: inline-block;
}
.im4{
	height: 130px;
	text-align: center;
	line-height: 130px;
}
.box4 p{
	font-size: 16px;
	font-family: 黑体;
	text-align: center;
}
.box4 p:hover{
	color: #FC7070;
	transition: 1s;
}/*section3结束*/
.one1{
	width: 100%;
	height: 360px;
	background-color: #edecec;
}
.imaa{
	text-align: center;
	position: relative;
	top: 88px;
}
.one1 p{
	position:relative;
	top: 120px;
	text-align: center;
	font-size: 58px;
	font-family:黑体;
	color: #707070;
}/*section4结束*/
.four{
	width: 100%;
	height: 341px;
	background: url(image/pic2.jpg) no-repeat;
	background-size: 100%;
	text-align: center;
}
.fou1 p:first-child{
	font-size: 24px;
	color: #FFFFFF;
	font-family: Microsoft YaHei;
	position: relative;
	top: 74px;
}
.fou1 span{
	border-top:#FFFFFF solid 2px;
	display:inline-block;
	width: 40px;
	position: relative;
	top: 74px;
}
.fou1 span:hover{
	width: 300px;
	transition: width 1s ease-in-out;
}
.fou1 p:last-child{
	font-size: 12px;
	color: #FFFFFF;
	font-family: Microsoft YaHei;
	position: relative;
	top: 88px;
}
.grop{
	position: relative;
	top: 130px;
	height: 36px;
}
 #contry ,#province, #city{
	height: 33px;
	width: 240px;
	cursor: pointer;
	margin-right: 20px;

}
#contry,#province, #city{
	display: inline-block;
	background: url(image/icon8.png) no-repeat right #FFFFFF;
	border-style:none;
	font: 16px 微软雅黑;
	cursor: pointer;
}
::-Webkit- input-placeholder{
	text-indent: 20px;
}
.grop button{
	display: inline-block;
	height: 34px;
	width: 240px;
	color: #FFFFFF;
	font: 18px 微软雅黑;
	background-color: #C93333;
	border-style:none;
	word-spacing: 5px;
}
.grop button:hover{
	background-color: #E82F2F;
	transition: 1s;
}
.ulp{
	width: 240px;
    background-color: #E3E3E5;
    cursor：pointer;
    position: absolute;
    right: 50%;
    margin-right: 12px;
    border-width: 0px 1px 1px 1px;
	border-color: #BF4E48;
	border-style: solid;
}
.ulp li{
	list-style-type:none;  
	font:17px 微软雅黑;
	text-align: left;
	padding-left: 38px;
	line-height: 30px;
	cursor: pointer;
}
.ulp ul li:hover{
	background: url(image/icon8.png) no-repeat 10px 8px,#BF4E48;
    background-size: 20px;
    color: #FFFFFF;
}/*section5结束*/
.five{
	height: 610px;
	width: 100%;
}
.fur1{
	height: 391px;
	width: 218px;
	display: inline-block;
	position: relative;
	top: 140px;
	left: 348px;
}
.fur2{
	height: 391px;
	width: 218px;
	display: inline-block;
	position: relative;
	left: 454px;
	top: 50px;
}
.fur3{
	height: 391px;
	width: 218px;
	display: inline-block;
	position: relative;
	left: 559px;
	top: 140px;
}
.fur4{
	height: 391px;
	width: 218px;
	display: inline-block;
	position: relative;
	left: 715px;
	top: 140px;
}
.fur1 img{
	padding: 15px;
	border:1px solid #E5E2E2;
}
.fur1 p{
	text-align: center;
	font: 18px 微软雅黑;
	color: #868383;

}
.fur1 p:last-child{
	text-align: center;
	font: 13px 微软雅黑;
	color: #868383;
	line-height: 30px;
}
.fur2 img,.fur3 img,.fur4 img{
	padding: 15px;
	border:1px solid #E5E2E2;
}
.fur2 p:first-child{
	text-align: center;
	color: #868383;
	font: 20px 微软雅黑;
}
.fur2 p{
	text-align: center;
	font: 13px 微软雅黑;
	color: #868383;
	line-height: 30px;
	
}
.fur3 p{
	text-align: center;
	color: #868383;
	font: 20px 微软雅黑;
}
.fur3 p:last-child{
	text-align: center;
	font: 13px 微软雅黑;
	color: #868383;
	line-height: 30px;
}
.fur4 p{
	text-align: center;
	color: #868383;
	font: 20px 微软雅黑;
}
.fur4 p:last-child{
	text-align: center;
	font: 13px 微软雅黑;
	color: #868383;
	line-height: 30px;
}/*section5结束*/
.tex{
	display: inline-block;
	height: 580px;
	width: 70%;
	background: url(image/pic7.jpg) no-repeat;
	background-size: 100%;
	text-align: center;
}
.tex p{
	font-family: 微软雅黑;
	color:#FFFFFF;
}
.tex p:nth-child(1){
	font-size: 50px;
	position: relative;
	top: 100px;
}
.tex p:nth-child(2){
	font-size: 157px;
	position: relative;
	top: 70px;
}
.tex p:nth-child(3){
	font-size: 22px;
	position: relative;
	top: 70px;
}
.tex p:nth-child(4){
	font-size: 22px;
	position: relative;
	top: 80px;
}
.triangle{
	border-top: 25px solid transparent;
	border-right: 50px solid #FCF9F9;
	border-bottom: 25px solid transparent;
	position: relative;
	top: -70px;
	right: 0px;
}
.dule{
	display: inline-block;
	float: right;
	width: 30%;

}
.dule1{
	width: 300px;
	position: relative;
	top: 240px;
	left: 23%;
}
.dule1 p{
	font-family:微软雅黑;
	color: #848484;
	font-size: 14px;
	line-height: 30px;
}
.dule1 p:first-child{
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	color: #050505;
}
.dule12{
	text-align: center;
	width: 105px;
	height: 34px;
	border:1px solid #AD3A3A;
	margin: 0 auto;
	position: relative;
	top: 280px;
}
.dule12 p{
	font-size: 16px;
	text-align: center;
	line-height: 34px;
	color: #AD3A3A;
	font-family: 微软雅黑;
	cursor: pointer;

}
.dule12:hover{
	background-color: #AD3A3A;
}
.dule12 p:hover{
	color: #FFFFFF;
}
.dule1 span{
	color: #F60E0E;
}
.dule2{
	display: none;
}
.dule3{
	display: none;
}
.duk{
	display: inline-block;
	text-align: center;
	width: 100%;
	position: relative;
	top: 300px;
}
.duk input[type="radio"]{
	z-index:10;
	opacity: 0;
	position: relative;
	left: 30px;
}
.duk .ance{
	display: inline-block;
	position: relative;
	left: -22px;
	height: 10px;
	width: 10px;
	border:1px solid #5D4343;
	border-radius: 5px;
}
.duk .ance:checked~.lell{
	background-color: #6D4A4A;
}
/*6结束*/
.seven{
	height: 530px;
}
.winner{
	width: 68%;
	float: left;
	font-size: 0;
}
.red{
	background-color: #e8504e;
	width: 50%;
	height: 530px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.red .mis{
	position: relative;
	top: 200px;
}
.red .mis p{
	font:25px 微软雅黑;
	color: #FFFFFF;
	line-height: 40px;
}
.red .mis span{
	width: 50px;
	border-top:3px solid #FFFFFF;
	display: inline-block;
}
.red .mis span:hover{
	width: 252px;
	transition: 1s;
}
.red .buton{
	width: 170px;
	height: 42px;
	display: inline-block;
	border:1px solid #FFFFFF;
	position: relative;
	top: 220px;
	font: 16px 微软雅黑;
	color: #FFFFFF;
	cursor: pointer;
}
.red .buton p{
	line-height: 42px;
}
.red .buton:hover{
	background: #FBFBFB;
	color: #e8504e;
	transition: 0.7s;
}
.red .buton p:hover{
	color: #D55353;
	transition: 0.7s;
}
.white{
	width: 50%;
	height: 530px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.white .mis{
	position: relative;
	top: 180px;
	text-align: center;
	line-height: 40px;
}
.white .mis p{
	font:25px 微软雅黑;
	color: #0F0E0E;
	line-height: 40px;
}
.white .mis span{
	width: 50px;
	border-top:3px solid #0B0B0B;
	display: inline-block;
}
.white .mis span:hover{
	width: 250px;
	transition: 1s;
}
.white .buton{
	width: 170px;
	height: 42px;
	display: inline-block;
	border:1px solid #e7504d;
	position: relative;
	top: 180px;
	font: 16px 微软雅黑;
	color: #e7504d;
	cursor: pointer;
}
.white .buton p{
	line-height: 42px;
	text-align: center;
}
.white .buton:hover{
	background-color:#e7504d;
	transition: 0.7s; 
}
.white .buton p:hover{
	color: #FFFFFF;
	transition: 0.7s;
}
.pag{
	width: 32%;
	height: 530px;
	float: right;
	background: url(image/pic8.jpg) no-repeat;
	background-size: 100%;
}
.las{
	display: inline-block;
	border-top: 30px solid transparent;
	border-left: 50px solid #FFFFFF;
	border-bottom: 30px solid transparent;
	position: relative;
	top: 300px;
}/*7结束*/
.eight{
	height: 750px;
	text-align: center;
	font-family: 微软雅黑;
	width: 100%;
}
.mes{
	height: 300px;
}
.top1{
	height: 100px;
	position: relative;
	top: 100px;
}
.top1 p:first-child{
	font-size: 21px;
}
.top1 p:last-child{
	font-size: 12px;
	color: #AEACAC;
	margin-top: 10px;
}
.top1 span{
	width: 50px;
	border-top:3px solid #FB2828;
	text-align: center;
	line-height: 100px;
	display: inline-block;
}
.top1 span:hover{
	width: 200px;
	transition: 1s;
}
.left{
	height: 320px;
	width: 600px;
	display: inline-block;
}
.left .mos{
	width: 300px;
	height: 100px;
	text-align: left;
}
.left .mos p:nth-child(1){
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}
.left .mos p:nth-child(2){
	font-size: 12px;
	color: #746F6E;
}
.left .mos span{
	font-size: 13px;
	float: right;
	cursor: pointer;
}
.right{
	width: 640px;
	height: 320px;
	display: inline-block;
	vertical-align: top;
}
.right form input[type="text"]{
	width: 300px;
	height: 35px;
	border: 0px;
	box-sizing: border-box;
	background-color: #F1EEEE;
	margin: 10px 6px 6px 6px;
	font: 14px 微软雅黑;
	color: #564545;
	padding: 10px;
}
.right form textarea{
	height: 150px;
	width: 620px;
	resize: none;
	border: 0;
	background-color: #F1EEEE;
	box-sizing: border-box;
	margin-top: 10px;
	padding:10px;
	font: 16px 微软雅黑;
}
.right form input[type="button"]{
	height: 40px;
	width: 620px;
	border: 0;
	background-color: #F1EEEE;
	box-sizing: border-box;
	margin-top: 10px; 
	font: 16px 微软雅黑;
	color: #A8A6A6;
	cursor: pointer;
}/*8结束*/
.nine{
	height: 360px;
	width: 100%;
	background-color: #32353E;
	font-family: 微软雅黑;
	text-align: center;
}
.nine-1 p{
	color: #FCF5F5;
	position: relative;
	top: 100px;
}
.nine-1 p:first-child{
	font-size: 18px;
	padding-bottom: 10px;
}
.nine-1 p:last-child{
	font-size: 14px;
}
.nine-2{
	position: relative;
	top: 130px;
}
.nine-2 input[type="text"]{
	width: 430px;
	height: 46px;
	font: 16px 微软雅黑;
	box-sizing: border-box;
	padding-left: 10px;
}
.nine-2 input[type="submit"]{
	width: 81px;
	height: 46px;
	margin-left: -5px;
	border: 0px;
	background-color: #6F7278;
	font: 15px 微软雅黑 ;
	color: #FFFFFF;
	cursor: pointer;
}
.nine-3{
	position: relative;
	top: 160px;
}
.nine-3 img{
	padding-right: 15px;
	width: 25px;
	height:25px;
	cursor: pointer;
}
.nine-3 img:hover{
	width: 30px;
	height: 30px;
	transition: 1s ease-in-out;;
}/*9结束*/
footer{
	width: 100%;
	height: 50px;
	background-color: #303039;
	font: 13px 宋体;
	color: #FFFFFF;
}
footer p:first-child{
	position: relative;
	top: 20px;
	padding-left: 100px;
}
footer p:last-child{
	float: right;
	padding-right: 100px;
}